<form action="/sessions" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" id="username" name="user[username]" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" name="user[password]" class="form-control">
  </div>

  <% if @error %>
    <p><%= @error %></p>
  <% end %>

  <button type="submit" class="btn btn-primary">Log in</button>
</form>
