<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/contacts">Contact Importer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if authenticated_user? %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_controller?('contacts') %>" href="/contacts">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_controller?('imports') %>" href="/imports">Imports</a>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_controller?('sessions') %>" href="/sessions/new">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_controller?('users') %>" href="/users/new">Sign up</a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
